$font-stack:  'Lato', sans-serif;;
$primary-color: #333;
$background-color: #eee;
$border-color: #DCDCDC;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background: #5d0806 url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;

}

///// nav bar //////////////////////////
.navbar{
  font-size: 16px;
  background-color: rgb(49, 49, 49);
}


////modal ////
.modal-header{
background-color: #ddd;
}
.modal-body{
background-color: #eee;
height: 300px;
}

/// modal.hbs ///
.modal-body2{
  background-color: #ddd;
  height: 150px;
  width: 100%;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.poster{
  border: 1px solid $border-color;
}

.posterContent{
  height: 150px;
  border: 1px solid $border-color;
}
.title{
  border: 1px solid $border-color;
}
.actor{
  border: 1px solid $border-color;
}










.modal-footer{
background-color: #ddd;
}
.form-control{
background-color: #fff;
}


///// movie container /////

h2 {
  padding-left: 12px; 
  margin-top: auto;
  margin-bottom: 20px; 
  font-weight: 300;
}
.h2-weight{
  font-size: 31px;
  //font-weight: 700;

}

/// new movie history

// location: index.html

.container-margin{
  margin-top: 50px;
}
.main-container  {
  //border: 1px solid black;
  height: 800px;
  margin-top: 50px;
  //background-color: #ddd;
}
.add{
  height:500px;
  background-color: black;
}

#rowEq {
  //border: 1px dotted red;
  height: 370px;
 
}
#range{
  height:100%;
 // border: 2px dotted green;

}



/// location: movie.hbs ////
.movie-sec{
  //border: 1px solid black;
  height: 370px;
  margin-bottom: 25px;
}
.movie-content{
  height: 100%;
  width: 250px;
  border: 1px solid $border-color;
  background-color: $background-color;
}
.posterRow {
  //border: 2px dotted pink;
  height: 320px;
  width: 248px;
  position: relative;
}
.posterImg{
  height: 100%;
  width: 100%;
  padding: 0;
}
.titleRow {
  height: 65px;
  width: 100%;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  position: absolute;
  
}
.titleContent{
  height: 100%;
  background-color: rgba(103, 103, 103, 0.5);
}
.ratingRow {
  //border: 4px dotted orange;
  height: 40px;
  font-size: 14px;
  margin-top: 8px;

}

.ratingRow .btn-link {
  color: #000 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  outline: none;
  padding: 0;
  // position: relative;
}
.starRating{
  padding-right:5px;
  padding-left: 5px;
}
.watchButton{
  padding-left: 5px;
}

.delButtonDiv{
  position: absolute;
  float: right;
  width: 100%;

  //background-color: rgba(103, 103, 103, 0.2);
}

.glyphicon-trash{
  color: crimson;
  font-size:16px;
  background-color: transparent;
//   -webkit-box-shadow: 3px 4px 24px -2px rgba(0,0,0,0.75);
// -moz-box-shadow: 3px 4px 24px -2px rgba(0,0,0,0.75);
// box-shadow: 3px 4px 24px -2px rgba(0,0,0,0.75);
}
.glyphicon-trash:hover{
  color:crimson;
  font-size: 24px;
}


.shadow{
//  -webkit-box-shadow: 4px 6px 5px 0px rgba(220,220,220,0.77);
// -moz-box-shadow: 4px 6px 5px 0px rgba(220,220,220,0.77);
// box-shadow: 4px 6px 5px 0px rgba(220,220,220,0.77);
-webkit-box-shadow: 3px 4px 10px 2px rgba(112,112,110,1);
-moz-box-shadow: 3px 4px 10px 2px rgba(112,112,110,1);
box-shadow: 3px 4px 10px 2px rgba(112,112,110,1);
}








