  <!-- Add movie modal -->

 {{#each newMovie}}

              <div class="modal-body2">
                  <div class="row">
                    <div class="poster">
                      {{poster}}
                    </div>
                    <div class="title">
                      {{title}} ({{year}})
                    </div>
                    <div class="actors">
                      {{actors}}
                    </div>
                  </div>
                 
              </div>
            
          {{/each}}